<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/variables.css" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/about-us.css" />
  </head>
  <body>
    <section class="about-us-section">
      <div class="container">
        <div class="about-us-container">
          <div class="about-us-name-of-section-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="1"
              viewBox="0 0 30 1"
              fill="none"
            >
              <line y1="0.5" x2="30" y2="0.5" stroke="#0A224A" />
            </svg>
            <p class="name-of-section">About us</p>
          </div>
          <h2 class="about-us-title">
            Our сraftsmanship: сreating unique handmade furniture
          </h2>
          <p class="about-us-description">
            Discover the inspiration behind our modern and minimalist designs,
            and see how we bring them to life through our skilled craftsmanship.
          </p>
          <ul class="about-us-advantages-list">
            <li class="about-us-advantages-item">
              <p class="about-us-advantages-quantity">5+</p>
              <p class="about-us-advantages-text">
                Years of experience creating handcrafted furniture
              </p>
            </li>
            <li class="about-us-advantages-item">
              <p class="about-us-advantages-quantity">100%</p>
              <p class="about-us-advantages-text">
                Sustainably sourced materials used in all of our furniture
              </p>
            </li>
            <li class="about-us-advantages-item">
              <p class="about-us-advantages-quantity">500+</p>
              <p class="about-us-advantages-text">
                Unique furniture designs crafted by our skilled artisans
              </p>
            </li>
          </ul>
        </div>
        <img
          class="about-us-image"
          srcset="
            ../img/about-us-mobile-1x.webp 1x,
            ../img/about-us-mobile-2x.webp 2x
          "
          src="../img/about-us-mobile-1x.webp"
          alt="furniture"
          width="536"
          height="540"
        />
      </div>
    </section>
  </body>
</html>
