<section class="about-us-section">
  <div class="aboutus-container">
    <div class="about-us-container">
      <h2 class="name-of-section">About us</h2>
      <h3 class="about-us-title">
        Our сraftsmanship: сreating unique handmade furniture
      </h3>
      <p class="about-us-description">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="about-us-advantages-list">
        <li class="about-us-advantages-item">
          <p class="about-us-advantages-quantity">5+</p>
          <p class="about-us-advantages-text">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="about-us-advantages-item">
          <p class="about-us-advantages-quantity">100%</p>
          <p class="about-us-advantages-text">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="about-us-advantages-item">
          <p class="about-us-advantages-quantity">500+</p>
          <p class="about-us-advantages-text">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
    <picture class="about-us-picture">
      <source class="about-us-image" srcset="
          ./img/about-us-desktop1x.webp 1x,
          ./img/about-us-desktop2x.webp 2x
        " media="(min-width: 1440px)" />
      <source class="about-us-image" srcset="
          ./img/about-us-tablet1x.webp 1x,
          ./img/about-us-tablet2x.webp 2x
        " media="(min-width: 768px)" />
      <source class="about-us-image" srcset="
      ./img/about-us-mobile-1x.webp 1x,
      ./img/about-us-mobile-2x.webp 2x
      " media="(max-width: 767px)" />
      <img class="about-us-image" src="./img/about-us-desktop1x.webp" alt="furniture" width="767" />
    </picture>
  </div>
  <!-- <div class="container img-for-mobile"></div> -->
</section>