<section class="bestsellers" id="bestsellers">
  <div class="container second-container">
    <h2 class="subtitle_h2 bestsellers-tittle">Bestsellers</h2>
    <div class="our-bestsellers">
      <div class="main-picture">
        <picture>
          <source srcset="
              ./img/bestseller-big-desktop-1x.webp 1x,
              ./img/bestseller-big-desktop-2x.webp 2x
            " media="(min-width: 1440px)" />
          <source srcset="
              ./img/bestseller-big-tablet-1x.webp 1x,
              ./img/bestseller-big-tablet-2x.webp 2x
            " media="(min-width: 768px)" />
          <source srcset="
              ./img/bestseller1-mobile-1x.webp 1x,
              ./img/bestseller1-mobile-2x.webp 2x
            " media="(min-width: 320px)" />
          <img src="./img/bestseller-big-desktop-1x.webp" alt="The modern platform bed" class="bestsellers-img-mob" />
        </picture>
        <div>
          <h3 class="item-tittle">The modern platform bed</h3>
          <p class="price">750$</p>
        </div>
      </div>
      <div class="four-picture">
        <ul class="bestsellers-list">
          <li class="bestsellers-item">
            <picture>
              <source srcset="
                  ./img/bestseller1-desktop-1x.webp 1x,
                  ./img/bestseller1-desktop-2x.webp 2x
                " media="(min-width: 1440px)" />
              <source srcset="
                  ./img/bestseller1-tablet-1x.webp 1x,
                  ./img/bestseller1-tablet-2x.webp 2x
                " media="(min-width: 768px)" />
              <source srcset="
                  ./img/bestseller2-mobile-1x.webp 1x,
                  ./img/bestseller2-mobile-2x.webp 2x
                " media="(min-width: 320px)" />
              <img src="./img/bestseller1-desktop-1x.webp" alt="The Cozy Lounge Chair" class="bestsellers-img-mob" />
            </picture>
            <div>
              <h3 class="item-tittle">The Cozy Lounge Chair</h3>
              <p class="price">230$</p>
            </div>
          </li>
          <li class="bestsellers-item">
            <picture>
              <source srcset="
                  ./img/bestseller2-desktop-1x.webp 1x,
                  ./img/bestseller2-desktop-2x.webp 2x
                " media="(min-width: 1440px)" />
              <source srcset="
                  ./img/bestseller2-tablet-1x.webp 1x,
                  ./img/bestseller2-tablet-2x.webp 2x
                " media="(min-width: 768px)" />
              <source srcset="
                  ./img/bestseller3-mobile-1x.webp 1x,
                  ./img/bestseller3-mobile-2x.webp 2x
                " media="(min-width: 320px)" />
              <img src="./img/bestseller2-desktop-1x.webp" alt="The industrial accent chair"
                class="bestsellers-img-mob" />
            </picture>
            <h3 class="item-tittle">The industrial accent chair</h3>
            <p class="price">250$</p>
          </li>

          <li class="bestsellers-item not-mobile">
            <picture>
              <source srcset="
                  ./img/bestseller3-desktop-1x.webp 1x,
                  ./img/bestseller3-desktop-2x.webp 2x
                " media="(min-width: 1440px)" />
              <source srcset="
                  ./img/bestseller3-tablet-1x.webp 1x,
                  ./img/bestseller3-tablet-2x.webp 2x
                " media="(min-width: 768px)" />

              <img src="./img/bestseller2-desktop-1x.webp" alt="The industrial accent chair"
                class="bestsellers-img-mob" />
            </picture>
            <h3 class="item-tittle">The sleek stand</h3>
            <p class="price">300$</p>
          </li>
          <li class="bestsellers-item not-mobile">
            <picture>
              <source srcset="
                  ./img/bestseller4-desktop-1x.webp 1x,
                  ./img/bestseller4-desktop-2x.webp 2x
                " media="(min-width: 1440px)" />
              <source srcset="
                  ./img/bestseller4-tablet-1x.webp 1x,
                  ./img/bestseller4-tablet-2x.webp 2x
                " media="(min-width: 768px)" />

              <img src="./img/bestseller2-desktop-1x.webp" alt="The industrial accent chair"
                class="bestsellers-img-mob" />
            </picture>
            <h3 class="item-tittle">The minimalist sofa</h3>
            <p class="price">650$</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>