<section class="review-section" id="reviews">
  <div class="review-container container">
    <h2 class="review-title subtitle_h2">Clients reviews</h2>
    <div class="swiper reviewsswiper">
      <ul class="swiper-wrapper review-list list">
        <li class="swiper-slide review-item">
          <div class="review-box">
            <img
              class="review-img"
              srcset="./img/client1-1x.webp 1x, ./img/client1-2x.webp 2x"
              src="./img/client1-1x.webp"
              alt="humans face"
              width="48"
              height="48"
            />
            <div>
              <h3 class="reviewr-name">Alexandra dream</h3>
              <span class="review-time">1 week ago</span>
            </div>
          </div>
          <p class="review-text">
            I was blown away by the quality and craftsmanship of the furniture I
            received from this company. Each piece was unique and beautifully
            designed, and you can tell that a lot of thought and care goes into
            every detail.
          </p>
        </li>
        <li class="swiper-slide review-item">
          <div class="review-box">
            <img
              class="review-img"
              srcset="./img/client2-1x.webp 1x, ./img/client2-2x.webp 2x"
              src="./img/client2-1x.webp"
              alt="humans face"
              width="48"
              height="48"
            />
            <div>
              <h3 class="reviewr-name">James Williams</h3>
              <span class="review-time">A week ago</span>
            </div>
          </div>
          <p class="review-text">
            The "Minimal" furniture set is a fantastic addition to my home. It
            boasts a minimalist design, enhancing the feel and look of my living
            space. The sturdy construction is worth noting too, which speaks
            volumes about its durability.
          </p>
        </li>
        <li class="swiper-slide review-item">
          <div class="review-box">
            <img
              class="review-img"
              srcset="./img/client3-1x.webp 1x, ./img/client3-2x.webp 2x"
              src="./img/client3-1x.webp"
              alt="humans face"
              width="48"
              height="48"
            />
            <div>
              <h3 class="reviewr-name">Emily Watson</h3>
              <span class="review-time">3 week ago</span>
            </div>
          </div>
          <p class="review-text">
            The "Minimal" furniture set has far exceeded my expectations. The
            sleek design combined with the high-quality materials have not only
            added an exceptional aesthetic to my space but also offered an
            uncompromising standard of comfort.
          </p>
        </li>
        <li class="swiper-slide review-item">
          <div class="review-box">
            <img
              class="review-img"
              srcset="./img/client1-1x.webp 1x, ./img/client1-2x.webp 2x"
              src="./img/client1-1x.webp"
              alt="humans face"
              width="48"
              height="48"
            />
            <div>
              <h3 class="reviewr-name">Alexandra dream</h3>
              <span class="review-time">1 week ago</span>
            </div>
          </div>
          <p class="review-text">
            I was blown away by the quality and craftsmanship of the furniture I
            received from this company. Each piece was unique and beautifully
            designed, and you can tell that a lot of thought and care goes into
            every detail.
          </p>
        </li>
        <li class="swiper-slide review-item">
          <div class="review-box">
            <img
              class="review-img"
              srcset="./img/client2-1x.webp 1x, ./img/client2-2x.webp 2x"
              src="./img/client2-1x.webp"
              alt="humans face"
              width="48"
              height="48"
            />
            <div>
              <h3 class="reviewr-name">James Williams</h3>
              <span class="review-time">A week ago</span>
            </div>
          </div>
          <p class="review-text">
            The "Minimal" furniture set is a fantastic addition to my home. It
            boasts a minimalist design, enhancing the feel and look of my living
            space. The sturdy construction is worth noting too, which speaks
            volumes about its durability.
          </p>
        </li>
        <li class="swiper-slide review-item">
          <div class="review-box">
            <img
              class="review-img"
              srcset="./img/client3-1x.webp 1x, ./img/client3-2x.webp 2x"
              src="./img/client3-1x.webp"
              alt="humans face"
              width="48"
              height="48"
            />
            <div>
              <h3 class="reviewr-name">Emily Watson</h3>
              <span class="review-time">3 week ago</span>
            </div>
          </div>
          <p class="review-text">
            The "Minimal" furniture set has far exceeded my expectations. The
            sleek design combined with the high-quality materials have not only
            added an exceptional aesthetic to my space but also offered an
            uncompromising standard of comfort.
          </p>
        </li>
      </ul>
      <div class="pagination"></div>
    </div>
  </div>
</section>
