<footer class="footer">
  <div class="container footer-container">
    <div class="footer-logo-socials">
      <a href="./index.html">
        <svg class="footer-logo-icon" width="100" height="16">
          <use href="./img/minimal-icons.svg#icon-minimal-icon"></use>
        </svg>
      </a>
      <ul class="footer-social-list list">
        <li class="footer-social-item">
          <a class="footer-social-link link"
            href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwitxKTSwtmAAxWE4lEKHb3nCeQYABAAGgJ3cw&gclid=CjwKCAjw_uGmBhBREiwAeOfsd_YMJI4w5DB5Z-2thjXyyUDSoCIFD4DCY8y0Bc4kT-XuxwSO0IjEqBoCfYwQAvD_BwE&ohost=www.google.com&cid=CAESbOD2Mo4r9kejULQqlboF1TcUbplOu9uB1K6MRl9FwvwJkxqDtsfcnA-cFZlYTK6RanrfYLTp_epsYZd28DB_PbFu1QpsVlKv1BPOuBmD4EBVfwp_RSOuEMH4JNgHxBOF83hNiFkJR7gZmH1YdQ&sig=AOD64_2QejZT8WkSmPhKDv-WgX3n9DrmUw&q&adurl&ved=2ahUKEwixvpzSwtmAAxWdR_EDHSp8CiEQ0Qx6BAgGEAE"
            target="_blank" rel="noopener noreferrer nofollow" aria-label="icon facebook">
            <svg class="social-icon" width="28" height="28">
              <use href="./img/minimal-icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a class="footer-social-link link"
            href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjsqY6dw9mAAxURh9UKHehvCeQYABAAGgJ3cw&gclid=CjwKCAjw_uGmBhBREiwAeOfsd1vdfdK2oMpgb5bzraRDd9H4fqhgvw-H9o7jfYx_QtzAGvH1zJqLVBoCGlwQAvD_BwE&ohost=www.google.com&cid=CAESbOD27Cyc-0Tw3Bh5jqKm9l3bEyZONH9BXn7Y7ICwtvzezn5P-FttH9UZF7VIg9G0rzodNrOjYvUt7Z_XI020b5D1tkiz9UKmZtg7i0OoyfooEcXCAnGgb_sksc7DrD156bFZHHjnD_qEK9wS4w&sig=AOD64_2E1ePnTb-C80dXlfgY3R5QYnTYcw&q&adurl&ved=2ahUKEwiGiYidw9mAAxVsavEDHWrsAGUQ0Qx6BAgGEAE"
            target="_blank" rel="noopener noreferrer nofollow" aria-label="icon instagram">
            <svg class="social-icon" width="28" height="28">
              <use href="./img/minimal-icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a class="footer-social-link link" href="https://www.youtube.com/" target="_blank"
            rel="noopener noreferrer nofollow" aria-label="icon youtube">
            <svg class="social-icon" width="28" height="28">
              <use href="./img/minimal-icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <ul class="footer-nav-list list">
      <li class="footer-nav-item">
        <a class="footer-nav-link link" href="#about-us">About us</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link link" href="#products">Our products</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link link" href="#prices">Prices</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link link" href="#bestsellers">Bestsellers</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link link" href="#reviews">Reviews</a>
      </li>
    </ul>
    <div class="footer-address-contacts">
      <address class="footer-address">
        <ul class="footer-address-list list">
          <li class="footer-address-item">
            <a class="footer-address-link link" href="https://goo.gl/maps/EthxUtBvh343P7MKA" target="_blank"
              rel="noopener noreferrer nofollow">Obolonsky Prospect, 14, Kyiv</a>
          </li>
          <li class="footer-address-item">
            <p class="footer-address-schedule">Daily 10:00-21:00</p>
          </li>
        </ul>
      </address>
      <ul class="footer-contacts-list list" id="contacts">
        <li class="footer-contacts-item footer-tel-one">
          <a class="footer-contacts-link link" href="tel:+380669384758">+380669384758</a>
        </li>
        <li class="footer-contacts-item footer-tel-two">
          <a class="footer-contacts-link link" href="tel:+380679384758">+380679384758</a>
        </li>
        <li class="footer-contacts-item email-link">
          <a class="footer-contacts-link link" href="mailto:minimal.furniture@gmail.com">minimal.furniture@gmail.com</a>
        </li>
      </ul>
    </div>
    <p class="footer-term-privacy">
      By using this website, you agree to the
      <a href="#" class="term-privacy-link terms link">Terms of Service</a> and
      <a href="#" class="term-privacy-link privacy link">Privacy Policy</a>
    </p>
  </div>
</footer>