<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <svg class="header-icon-logo" width="100" height="16">
        <use href="./img/minimal-icons.svg#icon-minimal-icon"></use>
      </svg>
      <ul class="header-menu list">
        <li class="header-menu-item">
          <a class="header-menu-link link" href="#about us">About us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link" href="#products">Our products</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link" href="#prices"
            >Prices</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link" href="#bestsellers"
            >Bestsellers</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link" href="#reviews"
            >Reviews</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link" href="#contacts"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>
    <button type="button" class="header-btn menu-toggle js-open-menu" aria-expanded="false"
          aria-controls="mobile-menu">
      <svg class="header-icon" width="32" height="32">
        <use href="./img/minimal-icons.svg#icon-hamburger"></use>
      </svg>
    </button>
    <div class="menu-container is-hidden js-menu-container" id="mob-menu">
      <div class="mob-menu-top">
        <svg class="mob-menu-icon" width="100" height="16">
          <use href="./img/minimal-icons.svg#icon-minimal-icon"></use>
        </svg>
        <button type="button" class="mob-menu-btn menu-toggle js-close-menu">
          <svg class="mob-open-icon" width="32" height="32">
            <use href="./img/minimal-icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="mob-menu-nav">
        <nav class="mob-navigation">
          <ul class="mob-menu-list list">
            <li class="mob-menu-item">
            <a class="mob-menu-link link" href="#about us">About us</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link link" href="#products">Our products</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link link" href="#prices"
              >Prices</a
            >
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link link" href="#bestsellers"
              >Bestsellers</a
            >
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link link" href="#reviews"
              >Reviews</a
            >
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link link" href="#contacts"
              >Contacts</a
            >
          </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>