<section class="container hero-desktop-flex">
  <!-- <div class="container"> -->
  <h1 class="hero-header title_h1">Modern and minimalist furniture for you</h1>
  <div class="hero-two-images"></div>
  <div class="hero-content-wrapper">
    <div class="hero-one-image"></div>
    <p class="hero-paragraph">
      Add a touch of elegance to your space with handcrafted furniture pieces
    </p>
    <a class="hero-subscribe-link" href="#subscription">Subscribe</a>
  </div>
  <!-- </div> -->
</section>
