<section class="hero">
  <div class="container hero-container-specifics">
    <h1 class="title_h1 hero-titel-specifics">
      Modern and minimalist furniture for you
    </h1>
    <div class="hero-two-backgrounds"></div>
    <div>
      <div class="hero-third-background"></div>
      <p class="hero-paragraph">
        Add a touch of elegance to your space with handcrafted furniture pieces
      </p>
      <a class="hero-subscribe-link-btn" href="#subscription">Subscribe</a>
    </div>
  </div>
</section>
<!-- 

------------      F O O T E R

 -->
<footer class="footer">
  <div class="container footer-container-specifics">
    <div class="logo-socials-wrapper">
      <a href="" class="logo">minimal</a>
      <ul class="socials">
        <li class="social-item">A</li>
        <li class="social-item">B</li>
        <li class="social-item">C</li>
      </ul>
    </div>
    <ul class="footer-navigation">
      <li>About us</li>
      <li>Our products</li>
      <li>Prices</li>
      <li>Bestsellers</li>
      <li>Reviews</li>
    </ul>
    <div class="groups">
      <ul class="footer-address">
        <li>Obolonsky Prospect, 14, Kyiv</li>
        <li>Daily 10:00-21:00</li>
      </ul>
      <ul class="footer-contacts">
        <li class="footer-phone-1">+380669384758</li>
        <li class="footer-phone-3">+380679384758</li>
        <li class="footer-email-2">minimal.furniture@gmail.com</li>
      </ul>
    </div>
    <p class="footer-paragraph">
      By using this website, you agree to the Terms of Service and Privacy
      Policy
    </p>
  </div>
</footer>
