<section class="our-product" id="products">
  <div class="our-product-container container">
    <h2 class="product-titel subtitle_h2">OUR PRODUCTS</h2>
    <ul class="our-product-list" list>
      <li class="  our-product-item-a">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="./img/products1-desktop-1x.webp 1x, ./img/products1-desktop-2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/products1-tablet-1x.webp 1x, ./img/products1-tablet-2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="./img/products-mobile-1x.webp 1x, ./img/products-mobile-2x.webp 2x"
            type="image/webp"
          />
          <img
            class="our-product-img"
            src="./img/products1-desktop-1x.webp"
            alt="commode"
            width="344"
          />
        </picture>
        <p class="text-product-item">Minimalist storage solutions</p>
      </li>
      <li class="our-product-item our-product-item-b">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="./img/products2-desktop-1x.webp 1x, ./img/products2-desktop-2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/products2-tablet-1x.webp 1x, ./img/products2-tablet-2x.webp 2x"
            type="image/webp"
          />
          <img
            class="our-product-img"
            src="./img/products2-desktop-1x.webp"
            alt="sofa"
            width="344"
          />
        </picture>
        <p class="text-product-item">Handcrafted minimalist seating</p>
      </li>
      <li class="our-product-item our-product-item-c">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="./img/products3-desktop-1x.webp 1x, ./img/products3-desktop-2x.webp 2x"
            type="image/webp"
          />
          <img
            class="our-product-img"
            src="./img/products3-desktop-1x.webp"
            alt="table"
            width="344"
          />
        </picture>
        <p class="text-product-item">Sleek and simple tables</p>
      </li>
      <li class="our-product-item our-product-item-d">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="./img/products4-desktop-1x.webp 1x, ./img/products4-desktop-2x.webp 2x"
            type="image/webp"
          />
          <img
            class="our-product-img"
            src="./img/products4-desktop-1x.webp"
            alt="chair"
            width="344"
          />
        </picture>
        <p class="text-product-item">Minimalist seating for every space</p>
      </li>
    </ul>
  </div>
</section>