<section class="section" id="prices">
  <div class="container">
    <div class="price-container">
      <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>
      <ul class="price-list">
        <li class="price-item">
          <h2 class="subtitle_h2">Chairs</h2>
          <p class="price">from 200₴</p>
        </li>
        <li class="price-item">
          <h2 class="subtitle_h2">Tables</h2>
          <p class="price">from 250₴</p>
        </li>
        <li class="price-item">
          <h2 class="subtitle_h2">Dressers</h2>
          <p class="price">from 300₴</p>
        </li>
        <li class="price-item">
          <h2 class="subtitle_h2">Sofas</h2>
          <p class="price">from 500₴</p>
        </li>
      </ul>
    </div>
  </div>
</section>
