.about-us-section {
}
.container {
  max-width: 343px;
  margin: 0 auto;
}
.about-us-container {
  padding: 64px 0;
  background-color: var(--light-blue-background-color);
}
.about-us-name-of-section-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}
.name-of-section {
}
.about-us-title {
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.about-us-description {
  margin-bottom: 30px;
}
.about-us-advantages-list {
}
.about-us-advantages-item {
  margin: 0 auto;
  max-width: 170px;
}
.about-us-advantages-item:not(:last-child) {
  margin-bottom: 30px;
}
.about-us-advantages-quantity {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.about-us-advantages-text {
  text-align: center;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .about-us-section {
    padding-bottom: 100px;
  }
  .container {
    max-width: 704px;
  }
  .about-us-container {
    padding: 36px 64px;
    margin-bottom: 30px;
  }
  .name-of-section {
  }
  .about-us-title {
    font-size: 32px;
    line-height: 1.4;
  }
  .about-us-description {
    font-size: 18px;
  }
  .about-us-advantages-list {
    display: flex;
    justify-content: space-between;
  }
  .about-us-advantages-item {
    margin: 0;
  }
  .about-us-advantages-item:not(:last-child) {
    margin-bottom: 0;
  }
  .about-us-advantages-text {
    font-size: 18px;
  }
  .about-us-image {
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1320px;
    display: flex;
    gap: 24px;
    align-items: center;
  }
  .about-us-container {
    padding: 36px 69px;
    max-width: 760px;
    margin-bottom: 0;
  }
  .about-us-description {
    max-width: 622px;
  }
  .about-us-advantages-quantity {
    margin-bottom: 23px;
  }

  .about-us-image {
  }
}
