.review-section {
  background-color: var(--light-blue-background-color);
  padding: 36px 0 60px;
}
@media screen and (min-width: 768px) {
  .review-section {
    padding: 36px 0;
  }
}
@media screen and (min-width: 1440px) {
  .review-section {
    padding: 60px 0;
  }
}
.review-title {
  text-align: center;
  margin-bottom: 30px;
}

.review-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.review-item {
  background-color: var(--white-background-color);
  border-radius: 8px;
  padding: 24px;
}
@media screen and (min-width: 1440px) {
  .review-item {
    padding: 32px;
  }
}
.review-item:not(:first-child) {
  display: none;
}
.reviewr-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.77; /* 177.778% */
  text-transform: uppercase;
  margin-bottom: 2px;
}
@media screen and (min-width: 768px) {
  .reviewr-name {
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 2.25; /* 225% */
  }
}
.review-time {
  opacity: 0.8;
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
}
@media screen and (min-width: 768px) {
  .review-time {
    font-size: 16px;
    line-height: 1.5; /* 150% */
  }
}
.review-box {
  display: flex;
  gap: 14px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .review-box {
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .review-box {
    margin-bottom: 16px;
  }
}
.review-img {
  margin-top: auto;
  margin-bottom: auto;
  width: 48px;
  height: 48px;
}
@media screen and (min-width: 768px) {
  .review-img {
    height: 56px;
    width: 56px;
  }
}
.review-text {
  font-size: 14px;
  line-height: 1.43; /* 142.857% */
}
@media screen and (min-width: 768px) {
  .review-item {
    width: calc((100% - 1 * 16px) / 2);
  }
  .review-item:not(:last-child) {
    display: block;
  }
  .review-text {
    font-size: 18px;
    line-height: 1.5; /* 150% */
  }
}
@media screen and (min-width: 1440px) {
  .review-item:last-child {
    display: block;
  }
  .review-list {
    gap: 24px;
  }
  .review-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}
