.header {
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: var(--light-blue-background-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  display: none;
}

.header-btn {
  border: none;
  background-color: transparent;
  color: var(--primary-brand-color);
  padding: 0;
  width: 32px;
  height: 32px;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-background-color);
  z-index: 3;
  transform: translateX(-100%);
  transition: transform 400ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}
.mob-menu-top {
  display: flex;
  padding: 28px 16px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-blue-background-color);
}

.mob-menu-btn {
  border: none;
  background: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--primary-brand-color);
}

.mob-menu-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 114px;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 17px;
}
.mob-menu-link {
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-link:hover,
.mob-menu-link:focus {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 27px;
  }
  .header-icon-logo {
    width: 127px;
  }
  .header-icon {
    width: 40px;
    height: 40px;
  }
  .header-btn {
    width: 40px;
    height: 40px;
  }
  .mob-menu-top {
    padding: 28px 32px 27px;
  }
  .mob-menu-icon {
    width: 127px;
  }
  .mob-menu-btn {
    width: 40px;
    height: 40px;
  }
  .mob-open-icon {
    width: 40px;
    height: 40px;
  }
  .mob-menu-nav {
    margin-top: 150px;
  }
  .mob-menu-list {
    gap: 30px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .header-menu {
    display: flex;
    gap: 30px;
    padding: 0 8px;
    height: 43px;
    align-items: center;
  }
  .header-menu-link {
    transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-link:hover,
  .header-menu-link:focus {
    text-decoration: underline;
  }
  .header-btn {
    display: none;
  }
}
