.hero {
  max-width: 375px;
  margin: 0 auto;
  background-color: var(--light-blue-background-color);
  background-image: url(../img/hero-mob-1x.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container-specifics {
  padding-bottom: 313px;
  padding-top: 280px;
  position: relative;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero-mob-2x.webp);
  }
}

.hero-titel-specifics {
  position: absolute;
  top: 140px;
  left: 16px;
  z-index: 1;
  max-width: 285px;
}

.hero-paragraph {
  margin-bottom: 28px;
}

.hero-subscribe-link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 224px;
  height: 48px;
  color: var(--white-background-color);
  background-color: var(--primary-brand-color);
}

.hero-subscribe-link-btn:hover,
.hero-subscribe-link-btn:focus {
  background-color: var(--accent-stat-color);
}
/* 


------------------    7 6 8


 */
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1440px;
    background-color: var(--white-background-color);
    background-image: none;
  }

  .hero-container-specifics {
    padding-top: 61px;
    padding-bottom: 100px;
  }

  .hero-two-backgrounds {
    display: block;
    height: 531px;
    margin-bottom: 32px;
    background-image: url(../img/hero-left-desktop-tablet1x.webp),
      url(../img/hero-tablet1x.webp);
    background-size: 308px 329px, 364px 531px;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom 0px left 0px, right 0px bottom 0px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-two-backgrounds {
      background-image: url(../img/hero-left-desktop-tablet2x.webp),
        url(../img/hero-tablet2x.webp);
    }
  }

  .hero-titel-specifics {
    top: 64px;
    left: 32px;
    max-width: 648px;
  }

  .hero-paragraph {
    margin-bottom: 30px;
    max-width: 312px;
  }

  .hero-subscribe-link-btn {
    height: 50px;
  }
}
/* 


------------------    1 4 4 0


 */
@media screen and (min-width: 1440px) {
  .hero-container-specifics {
    display: flex;
    gap: 25px;
  }

  .hero-two-backgrounds {
    height: 530px;
    margin-bottom: 0;
    background-image: url(../img/hero-left-desktop-tablet1x.webp),
      url(../img/hero-middle-desktop1x.webp);
    background-size: 310px 329px, 648px 530px;
    width: calc(310px + 25px + 648px);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-two-backgrounds {
      background-image: url(../img/hero-left-desktop-tablet2x.webp),
        url(../img/hero-middle-desktop2x.webp);
    }
  }

  .hero-titel-specifics {
    left: 60px;
  }

  .hero-third-background {
    max-width: 312px;
    height: 337px;
    margin-bottom: 59px;
    background-color: var(--light-blue-background-color);
    background-image: url(../img/hero-right-desktop1x.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-third-background {
      background-image: url(../img/hero-right-desktop2x.webp);
    }
  }
}
/* 

------------      F O O T E R    

 */
.footer {
  background-color: var(--primary-brand-color);
  color: white;
  max-width: 375px;
  margin: 0 auto;
  border: 3px solid red;
  padding-top: 100px;
  padding-bottom: 16px;
  position: relative;
}
.border-color {
  border: 3px solid green;
}
.logo-socials-wrapper {
  display: flex;
  position: absolute;
  top: 36px;
  left: 16px;
  right: 16px;
  justify-content: space-between;
  align-items: center;
  border: 3px solid blue;
}
.logo {
}
.socials {
  display: flex;
  gap: 16px;
}
.footer-navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 36px;
}
.footer-address {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 35px;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 64px;
}
.footer-email {
  display: none;
}
.footer-paragraph {
  text-align: center;
}
/* 

------------      F O O T E R   ( 7 6 8 )    

*/
@media screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
    padding-top: 96px;
    padding-bottom: 36px;
  }
  .footer-navigation {
    position: absolute;
    top: 44px;
    left: 408px;
    margin-bottom: 0px;
  }
  .logo-socials-wrapper {
    left: 32px;
    right: 32px;
  }

  .footer-address {
    margin-bottom: 64px;
  }
  .footer-email {
    display: block;
  }
}
/* 

------------      F O O T E R   ( 1 4 4 0 )    

 */
@media screen and (min-width: 1440px) {
  .footer {
    max-width: 1440px;
    padding-top: 103px;
  }
  .footer-navigation {
    left: 404px;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 0px;
  }
  .logo-socials-wrapper {
    left: 60px;
    right: 60px;
  }
  .footer-address {
    gap: 24px;
    margin-bottom: 0px;
    margin-right: 87px;
  }
  .groups {
    display: flex;
  }
  .footer-phone-1 {
    order: 1;
  }
  .footer-phone-3 {
    order: 3;
  }
  .footer-email-2 {
    order: 2;
  }
  .footer-contacts {
    display: flex;
    flex-direction: row;
    width: calc((100% - 82px) / 2);
    gap: 24px 82px;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }
}
