.section-price{
    padding-bottom: 100px;
}

.price-list {}

.price-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 30px;
    position: relative;
}
.price-item::before {
    content: " ";
    border-top: 1px solid var(--primary-brand-color);
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;

}

.price-item:last-child:after {
    content: " ";
    border-top: 1px solid var(--primary-brand-color);
    width: 100%;
    position: absolute;
    bottom: 0;
}

.subtitle_h2 {
        transition: transform 400ms;
}
.subtitle_h2::before{
    content: '';
    display: none;
    border-top: 2px solid var(--primary-brand-color) ;
    width: 35px;
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
}
.subtitle_h2:hover{
    transform: translateX(40px);

}
.subtitle_h2:hover::before{
    display: block;
}
@media screen and (min-width: 1440px){
    .price-container{
        max-width: 1216px;
    }
}





