.subs-section {
  padding: 64px 0;
}
.hidden {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.thanks {
  max-width: 100%;
  height: 288px;
  /* width: 536px;
  height: 410px; */
  text-align: center;
  margin-bottom: 30px;
}
.thanks-approval {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.subscription-form {
  opacity: 1;
  transition: background-color 0.5s ease-in-out;
}
.subs_form {
  transition: opacity 0.5s ease-in-out;
}
.approval-icon {
  fill: var(--primary-brand-color);
  margin-bottom: 12px;
}
.thanks-text {
  color: var(--primary-brand-color);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
}
.thanks-text:first-child {
  margin-bottom: 18px;
}

@media screen and (min-width: 375px) {
  .thanks {
    width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .thanks {
    width: 704px;
    height: 312px;
    margin-bottom: 64px;
  }
  .thanks-text {
    font-size: 24px;
  }
  .thanks-text:first-child {
    margin-bottom: 24px;
  }
  .approval-icon {
    transform: scale(1.1);
  }
}
@media screen and (min-width: 1440px) {
  .thanks {
    width: 536px;
    margin-bottom: 0;
    height: 410px;
  }
}

@media screen and (min-width: 768px) {
  .subs-section {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1440px) {
  .subs-section {
    padding: 100px 0 86px 0;
  }
}
.subs-box {
  max-width: 536px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .subs-box {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1440px) {
  .subs-box {
    margin-bottom: 0;
  }
}
.subs-subtitle {
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subs-subtitle {
    text-align: start;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .subs-subtitle {
    margin-bottom: 31px;
  }
}
.subs-text {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .subs-text {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .subs-text {
    margin-bottom: 21px;
  }
}
.sabs-input {
  height: 50px;
  width: 100%;
  padding-left: 20px;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .sabs-input {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .sabs-input {
    height: 52px;
  }
}
.sabs-input:hover {
  border-color: var(--primary-brand-color);
  color: var(--primary-brand-color);
}

.subs-wrapper {
  position: relative;
  margin-bottom: 20px;
}

@media screen and (min-width: 1440px) {
  .subs-wrapper {
    margin-bottom: 22px;
  }
}
.sabs-input:invalid:not(:placeholder-shown) {
  border: 1px solid var(--input-error-state);
  outline: transparent;
  color: var(--input-error-state);
}
.icon-error {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  fill: transparent;
}
.sabs-input:invalid:not(:placeholder-shown) + .icon-error {
  fill: var(--input-error-state);
}

.form-fild-checkbox {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .form-fild-checkbox {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .form-fild-checkbox {
    margin-bottom: 32px;
  }
}
.form-span-checkbox {
  width: 25px;
  height: 25px;
  border: 1px solid var(--dark-grey);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.input-checkbox:checked + .form-label-condition > .form-span-checkbox {
  border: none;
  background-color: var(--primary-brand-color);
  fill: var(--white-background-color);
}
.form-label-condition {
  color: var(--checkbox-text);
}
.subs_button {
  min-width: 224px;
  padding: 13px 0;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .subs_button {
    font-size: 18px;
    line-height: 1.33;
    padding: 14px 0;
  }
}
@media screen and (min-width: 1440px) {
  .subs_button {
    margin-bottom: 0;
  }
}
.subs_button:hover,
.subs_button:focus {
  background-color: var(--accent-stat-color);
}
@media screen and (min-width: 1440px) {
  .sabs-container {
    display: flex;
    max-width: 1216px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) {
  .subs-img {
    max-width: 460px;
  }
}
