:root {
  --white-background-color: #fff;
  --light-blue-background-color: #f7faff;
  --primary-brand-color: #0a224a;
  --pressed-stat-color: #061835;
  --grey: #d9d9d9;
  --dark-grey: #b6b6b6;
  --red-color: #e74a3b;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5; /* 150% */
  color: var(--primary-brand-color);
  background-color: var(--white-background-color);
}
